#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App-main {
    display: flex;
    align-items: center;
    gap: 75px;
}

.exchange-arrow {
    width: 70px;
    cursor: pointer;
}

.pre-converter {
    text-align: left;
    color: #676b6e;
}


@media (max-width: 1024px) {
    .App-main {
        flex-direction: column;
        gap: 0;
    }

    .exchange-arrow {
        display: none;
    }

}