.header-btns {
    display: flex;
    gap: 1rem;
}

.arrow img {
    width: 30px;
}

.available-valutes {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 240px);
    column-gap: 50px;
    row-gap: 6px;
    text-align: left;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    top: 220px;
    padding: 20px 40px;
    border-radius: 4px;
}

.available-valutes__item {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.hidden {
    display: none;
}


.input-box {
    width: 430px;
    margin-top: 2rem;
    height: 150px;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.input-valute {
    width: 100%;
    height: 50%;
    border: none;
    outline: none;
    font-weight: 800;
    font-size: 44px;
    padding-inline: 10px;
    line-height: normal;
}

.activeValute {
    outline: none;
    background-color: rgb(139, 139, 255);
}