.header-btns {
    display: flex;
    gap: 1rem;
}

.arrow img {
    width: 30px;
}

.available-valutes {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(4, 240px);
    column-gap: 50px;
    row-gap: 6px;
    text-align: left;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    top: 260px;
    padding: 20px 40px;
    border-radius: 4px;
}

.available-valutes__item {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    transition: background-color .3s;
    padding: 4px 4px;
    border-radius: 4px;
}

.available-valutes__item span {
    font-weight: 800;
}

.available-valutes__item:hover {
    background-color: rgb(139, 139, 255);
}

.hidden {
    display: none;
}

.converter {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.input-box {
    max-width: 430px;
    height: 150px;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.input-valute {
    width: 100%;
    height: 50%;
    border: none;
    outline: none;
    font-weight: 800;
    font-size: 44px;
    line-height: normal;
    padding-inline: 1rem;
}

.activeValute {
    outline: none;
    background-color: rgb(139, 139, 255);
}

.valuteCourse {
    text-align: left;
    padding-inline: 1rem;
}

@media (max-width: 1300px) {
    .available-valutes {
        grid-template-columns: 240px;
        height: 600px;
        overflow-y: scroll;
    }
}

@media (max-width: 1024px) {
    .pre-converter {
        display: none;
    }

    .converter {
        gap: 1rem;
    }

    .secondConverter {
        flex-direction: column-reverse;
    }
}